*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/alembic
backend/alembic.ini
/backend/__pycache__
/backend/__pycache__
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/models.cpython-312.pyc
backend/__pycache__/schemas.cpython-312.pyc
backend/__pycache__/utils.cpython-312.pyc
